[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/categoricalcat/.emacs.d.git
    branch = main

[submodule "nixos"]
	path = nixos
	url = https://github.com/categoricalcat/nixos.git
    branch = develop

[submodule "mc-fufuland"]
	path = mc-fufuland
	url = https://github.com/categoricalcat/mc-fufuland.git
    branch = main

[submodule "scm_breeze"]
	path = scm_breeze
	url = https://github.com/scmbreeze/scm_breeze.git
    branch = main

# command to sync all submodules
# git submodule update --init --recursive